@use "@joisse1101/ui-library/styles/_variables.scss" as *;

.logs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .log-date {
    border-radius: $radius-xl;
    box-shadow: $shadow-sm;
    font-size: $font-xs;
    color: $text-dim;
    background-color: $bg-surface;
    --overlay-bg: #{$bg-surface};
    border: 1px solid $border-subtle;
    width: fit-content;
    padding: 0.25rem 0.5rem;
  }

  .log-entry {
    display: flex;
    gap: 0.25rem;
    align-items: start;
    flex-direction: column;

    &-date {
      font-size: 0.75rem;
      color: $text-dim;
      margin: 0;
      white-space: pre-wrap;
      text-align: right;
      min-width: fit-content;
    }

    &-content {
      margin: 0;
      flex: 1;
      white-space: pre-wrap;
    }

    &-metadata {
      display: flex;
      gap: 0.25rem;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
