@use "@joisse1101/ui-library/styles/_variables.scss" as *;

.board-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column-container {
    display: flex;
    gap: 16px;
    overflow-y: auto;

    .column {
        border-left: 1px solid $border-color;
        padding: 1rem;
        min-width: 350px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: $font-sm;
            font-weight: 600;
            color: $text-muted
        }
    }
    .column:first-child {
        border-left: none;
    }

}

.ticket-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-title {
        font-weight: 500;
    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.25rem;
    }
}

.ticket-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-actions {
        justify-content: flex-end;
    }

    .date {
        color: $text-muted;
        font-weight: 500;
        font-size: $font-sm;
    }
}

.tag-list-editor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .tag-list-item {
        display: flex;
        gap: 0.5rem;
    }
}

.board-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;

    &-name {
        min-width: fit-content;
    }
    &-select {
        width: 300px;
    }

    .date {
        color: $text-muted;
        font-weight: 500;
        font-size: $font-sm;
    }
}

